.inbox h3{
    font-weight: lighter;
    padding-left: 15px;
}

.inbox .flexbox {
    display: flex;
    justify-content: space-between;
}

.inbox .search-input{
    border: 1px solid #d8d8d8;
    outline: none;
    padding: 4px;
    width: 200px;
}

.inbox .search{
    background: rgb(11, 156, 125);
    border: none;
    outline: none;
    color: white;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    margin-right: 25px;
}

.inbox .settings{
    background: rgb(11, 156, 125);
    color: white;
    position: relative;
    padding: 5px;
    right: -95%;
    top: -2%;
    width: 10%;
    border-radius: 15px 0 0 15px;
}

.inbox .icons{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
    left: -4%;
    top: 8%;
}

.inbox .icons li{
    padding: 5px;
    margin: 6px;
    border: 1px solid rgb(219, 217, 217);
    font-size: 15px;
}

.inbox .pagination{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
    top: 9%;
    right: 15%;
}

.inbox .icons-2{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 2%;
    right: 5%;
}

.inbox .icons-2 li{
    padding: 8px;
    border: 1px solid rgb(219, 217, 217);
    font-size: 15px;
}

.mail{
    list-style: none;
    position: relative;
    left: -10%;
    top: 20%;
}
.mail ul{
    display: flex;
    list-style: none;
}

.mail li a{
    text-decoration: none;
    color: black;
}

.mail ul li{
    padding-left: 125px;
    padding-bottom: 5%;
    font-size: 18px;
}

.compose-mail{
    position: fixed;
    background: white;
    width: 38%;
    height: 75%;
    top: 20%;
    left: 57%;
    box-shadow: 0px 0px 3px 3px rgb(41, 50, 66);
    display: none;
}

.compose-mail ul{
    list-style: none;
    margin-left: -5%;
}

.compose-mail ul li{
    color: gray;
}

.compose-mail ul li p{
    background: rgb(41, 50, 66);
    color: white;
    margin-top: -4%;
    margin-left: -3%;
    padding: 15px;
}

.compose-mail ul li input{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    width: 95%;
    margin-bottom: 10px;
}

.compose-mail ul li textarea{
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid gray;
    width: 95%;
}

.compose-mail ul li button{
    background: rgb(25, 31, 41);
    color: white;
    border: none;
    outline: none;
    padding: 2%;
    border-radius: 5px;
    cursor: pointer;
}

.compose-mail ul li i{
    position: absolute;
    top: 3%;
    right: 2%;
    cursor: pointer;
}